/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.body {
  margin-top: 800px;
}

.brand-logo {
  /* color: #2c2c2c; */
  font-family: "Bungee", cursive;
  color: #444;
  letter-spacing: 0.05em;
  text-shadow: 3px 3px 0px #d5d5d5, 5px 5px 0px rgba(0, 0, 0, 0.2);
}

nav ul a,
nav .brand-logo {
  color: rgb(238, 64, 151);
}

.my-nav {
  background-color: #26a69a;
  position: fixed;
  z-index: 2;
  padding-bottom: 5%;
}

.home-list {
  /* box-sizing: border-box; */
  padding: 8px;
  background-color: rgb(167, 228, 27);
  margin-top: 4rem;
  /* position: relative; */
  position: fixed;
  /* z-index: 2; */
}

.signup-nav {
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
  position: fixed;
  right: 20px;
  top: 10px;
  z-index: 3;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#form-img {
  max-width: 90%;
  max-height: 400px;
}
